
/*
 * Main CSS file.
 */
.container {
    margin-bottom:150px;
}
.strip > label:first-child {
    min-width: 100px;
}
.hyper-ide-header {
    color: #c0c0c0;
    float: left;
}
.hyper-ide-folder-browser {
    height:670px;
    overflow:scroll;
}
.hyper-ide-editor-selector {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom:none;
    max-width:120px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    color:#c0c0c0;
    font-style:italic;
}
#hyper-ide-editors-wrapper>.toggled {
    background:none;
    background-color:#fefefe;
    z-index:1;
    font-weight:bold;
    font-style:normal;
    color:#a0a0a0;
}
.hyper-ide-editor-selector {
    margin-left:.5rem;
}
.hyper-ide-editor-selector:nth-child(1) {
    margin-left:.2rem;
}
