html {
}
.hyper-ide-container {
    padding-top: 0;
}
.CodeMirror {
    border-radius: var(--border-radius);
    border: solid 1px var(--border-color);
}

/* All Hyper IDE toolbars */
.hyper-ide-toolbar {
    margin-left: .5rem;
    margin-bottom: 0;
    margin-top: .5rem;
}

/* Bookmark textbox */
.hyper-ide-bookmark-textbox {
    position: absolute;
    top: 1rem;
    right: 1rem;
    max-width: 100%;
    width: 500px !important;
    box-shadow: 0 0 15px rgba(128,128,0,.7) !important;
}

/* Main content, which is 100% of viewport height, minus toolbars */
.hyper-ide-content {
    height: auto;
}
@media screen and (min-width:800px) {
.hyper-ide-content {
    height: calc(100vh - 2rem - var(--form-element-padding) * 2 - .5rem);
    margin-bottom: -.5rem;
}
}

/* If user wants to use "page scroll" instead of editor/treeview scroll, then this class will apply */
.hyper-ide-page-scroll {
    padding-bottom: 0;
}
.hyper-ide-page-scroll .hyper-ide-content {
    height: auto;
    min-height: calc(100vh - 2rem - var(--form-element-padding) * 2 - .5rem);
    margin-bottom: .5rem;
    overflow: auto;
}

/* TreeView wrapper for browsing files (column wrapper) */
.hyper-ide-solution-explorer-col {
    min-height: calc(100% - var(--form-element-padding) * 2);
    margin-bottom: 0;
    margin-top: .5rem;
}

/* TreeView wrapper for browsing files (inside of column) */
.hyper-ide-solution-explorer {
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
}

/* Actual TreeView (solution explorer) CSS class */
.hyper-ide-tree-view {
    overflow: scroll;
    height: 100%;
    margin-right: -1rem;
    padding-right: 1rem;
    min-width: fit-content;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

/* Wrapper column around editors (and splash screen) */
.hyper-ide-editor-col {
    min-height: calc(100% - var(--form-element-padding) * 2);
    margin-top: .5rem;
}

@media screen and (min-width:800px) {
.hyper-ide-editor-col {
    margin-bottom: 0;
}
}

/* Hyper IDE splash screen, which you see when you initially start Hyper IDE */
.hyper-ide-splash {
    height: auto;
    min-height: 100%;
    position: relative;
    margin-bottom: 0;
}

/* "Tab control" wrapping editor (both tab buttons, and editor surface) */
.hyper-ide-editor-tab {
    height: 100%;
}

/* "Tab control buttons" wrapper */
.hyper-ide-editor-tab-buttons {
    overflow: auto;
    white-space: nowrap;
}

/* "Tab control buttons", inside of editor "tab control" */
.hyper-ide-editor-tab-buttons > button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    width: 10rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    font-style: italic;
    margin-left: .2rem;
    margin-bottom: 0;
    font-size: .7rem;
    padding-right: 2rem;
    cursor: pointer;
    border-bottom: none;
    background-image: var(--button-toggled-background);
}
.hyper-ide-editor-tab-buttons > button:first-child {
    margin-left: var(--border-radius);
}

.hyper-ide-editor-tab-buttons > .toggled {
    z-index: 1;
    font-weight: bold;
    font-style: normal;
    background-image: var(--button-background);
}

.hyper-ide-editor-tab-buttons > button > span.hyper-ide-close {
    position: absolute;
    font-size: .5rem;
    top: calc(var(--border-radius) / 2);
    right: calc(var(--border-radius) / 2);
    padding: .25rem;
    border-radius: .25rem;
    min-width: unset;
    width: auto;
    height: auto;
}

/* "Tab control" content wrapper  */
.hyper-ide-editor-tab-content {
    height: calc(100% - 1.7rem - 1px);
    margin-bottom: 0;
}

/* Making sure we modify main CodeMirror (Micro) wrapper class */
.micro-codemirror-wrapper {
    height: 100%;
}

/* Wraps CodeMirror instance(s) */
.hyper-ide-codemirror-wrapper {
    height: 100%;
    box-sizing: content-box;
}

/* CodeMirror instance, inside of editors */
.hyper-ide-codemirror-wrapper .CodeMirror {
    height: 100% !important;
    min-height: 100%;
}

/* Our animation for our UFO on our splash screen */
@keyframes hyper-ide-ufo {
0% {
    transform: rotate(-90deg) scale(0.1);
    margin-top: -500px;
}

100% {
    transform: rotate(0deg) scale(1);
    margin-top: 0;
}
}
/* UFO styles (image on splash screen) */
.hyper-ide-ufo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 50%;
    animation-name: hyper-ide-ufo;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    margin-bottom: 2rem;
}

.hyper-ide-copyright {
    position: absolute;
    bottom: 0;
    right: 1rem;
    margin-bottom: .5rem;
    font-style: italic;
    font-size: .7rem;
}

.hyper-ide-help {
    position: relative;
}

.hyper-ide-help .CodeMirror {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hyper-ide-help-content {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}
.hyper-ide-youtube-outer-wrapper {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.hyper-ide-youtube-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    border-radius: 5px;
    overflow: hidden;
}
.hyper-ide-youtube-embed {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hyper-ide-help-image {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    border-radius: 5px;
}
.hyper-ide-evaluate-snippet-button {
    padding-left: 35px;
    padding-right: 35px;
    float: right;
    margin-top: -4.7rem;
    margin-bottom: 0;
    display: block;
    z-index: 999;
    position: relative;
    margin-right: .5rem;
}
